.box{
    background-color: rgb(255, 0, 0);
    height: 300px;
    width: 300px;
    padding: 50px;
    margin: 50px;
    border:10px solid black;
    display:inline;
}
.box1{
    background-color: rgb(255, 0, 0);
    height: 300px;
    width: 300px;
    padding: 50px;
    margin: 50px;
    border:10px solid black;
}